<section class="subscription-list-section">
  <div class="myapis-container my-5">
    <div class="common-header">
      <h2>My APIs</h2>
    </div>
    {{#if subscriptions.length}}
      <table class="table table-striped table-hover table-sm table-responsive">
      <thead class="thead">
        <tr>
          <th>API Name</th>
          <th>Application Name</th>
          <th>Subscription Plan</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each subscriptions}}
        <tr>
          <td> <a class="table-links" href="{{../baseUrl}}/api/{{this.apiName}}">{{this.apiName}} - {{this.apiVersion}}</a></td>
          <td> <a class="table-links"
              href="{{../baseUrl}}/applications/{{this.applicationId}}">{{this.applicationName}}</a></td>
          <td>{{this.throttlingTier}}</td>
            <td> <a href="#" type="button" class="btn-unsubscribe text-decoration-underline"
              onclick="openDeleteModal('{{this.id}}', '')">Unsubscribe</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <p>No subscriptions available.</p>
    {{/if}}
  </div>
</section>