<section class="section">
    <div class="container-fluid">
        <div class="defaultapi-section">
            <div class="container-header mb-4" style="justify-self: center;">Endpoint(s)</div>
            <div class="defaultapi-endpoint-row col-12 col-xl-9" style="justify-self: center;">
                <div class="defaultapi-endpoint-content">
                    <span class="defaultapi-development-label">Production Endpoint</span>
                    <div class="defaultapi-endpoint-url-container">
                        <span class="defaultapi-endpoint-url">{{resources.serverDetails.productionURL}}</span>
                    </div>
                </div>
                 <div class="defaultapi-endpoint-content">
                    <span class="defaultapi-development-label">Sandbox Endpoint</span>
                    <div class="defaultapi-endpoint-url-container">
                        <span class="defaultapi-endpoint-url">{{resources.serverDetails.sandboxURL}}</span>
                    </div>
                </div>
            </div>
            {{/resources.serverDetails}}
        </div>
        <div class="defaultapi-section">
            <div class="container-header mb-4" style="justify-self: center;">Description</div>
            <div class="defaultapi-description col-12 col-xl-9" style="justify-self: center;">
                <p>{{resources.description}}</p>
            </div>
        </div>
        <div class="defaultapi-section">
            <div class="container-header mb-4" style="justify-self: center;">Resources</div>
            <div class="defaultapi-resources col-12 col-xl-9" style="justify-self: center;">
                {{#resources.endpoints}}
                {{#methods}}
                <div class="defaultapi-resource-item defaultapi-resource-item-{{method}}">
                    <div class="defaultapi-http-method defaultapi-http-method-{{method}}">{{method}}</div>
                    <div class="defaultapi-resource-path">{{../path}}</div>
                    <div class="defaultapi-resource-summary">{{summary}}</div>
                </div>
                {{/methods}}
                {{/resources.endpoints}}
            </div>
        </div>
    </div>
</section>