<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->

<section class="section mt-0 mb-6" id="subscriptionPlans">
    <div class="container-fluid text-center">
        {{#if subscriptionPlans.length}}
        <div class="container-header mb-4">Subscription Plans</div>
        {{/if}}
        <div class="row row-gap-4 justify-content-center">
            {{#each subscriptionPlans}}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card dev-card subscription-card">
                    <div class="card-body align-items-center text-center p-0">
                        <span class="subscription-plans-card-title">{{displayName}}</span>
                        <h1 class="subscription-plans-request-count">{{requestCount}}</h1>
                        <p class="subscription-plans-card-subtitle pt-0">requests per minutes</p>
                        {{#if ../isAuthenticated}}
                        <div id="subscriptionBox" class="subscription-container">
                            <a type="button" class="common-btn-outlined subscription-plan-subscribe-btn">
                                Subscribe
                            </a>
                            <div class="custom-dropdown">
                                <div class="custom-select-container">
                                    <div class="select-selected" aria-expanded="false">
                                        <span class="selected-text">Select Application</span>
                                        <span class="select-arrow"></span>
                                    </div>
                                    <div class="select-items" role="listbox">
                                        <div class="select-action-item" role="button" data-action="create-app">
                                            + Create Application</div>
                                        {{#each ../applications}}
                                        <div class="select-item {{#if subscribed}}disabled{{/if}}" role="button"
                                            data-value="{{../id}}" {{#unless subscribed}} onclick="subscribe('{{@root.orgID}}', '{{id}}', '{{../../apiMetadata.apiID}}', '{{../../apiMetadata.apiReferenceID}}', '{{../policyID}}', '{{../policyName}}'
                                            )" {{/unless}}>

                                            {{name}}
                                            {{#if subscribed}}
                                            <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/success-rounded.svg"
                                                alt="Subscribed" class="subscription-icon" />
                                            {{/if}}
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <a type="button" class="common-btn-primary disabled w-100 subscription-plan-subscribe-btn"
                            disabled>Subscribe</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</section>
