<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->

<section class="section mt-0 mb-6" id="subscriptionPlans">
    <div class="container-fluid text-center">
        {{#if subscriptionPlans.length}}
        <div class="container-header mb-4">Subscription Plans</div>
        {{/if}}
        <div class="row row-gap-4 justify-content-center">
            {{#each subscriptionPlans}}
            <div class="col-lg-3 col-md-6 col-12" id="subscriptionCard-{{policyID}}">
                <div class="card dev-card subscription-card">
                    <div class="card-body align-items-center text-center p-0">
                        <span class="subscription-plans-card-title">{{displayName}}</span>
                        <h1 class="subscription-plans-request-count">{{requestCount}}</h1>
                        <p class="subscription-plans-card-subtitle pt-0">requests per minute</p>
                        {{#if ../isAuthenticated}}
                        <div id="subscriptionBox" class="subscription-container">
                            <div class="custom-dropdown show" id="customDropdown-{{policyID}}">
                                <input type="hidden" id="selectedAppId-{{policyID}}" value="" />
                                <div class="custom-select-container">
                                    <div class="select-selected" aria-expanded="false">
                                        <span class="selected-text">Create an app</span>
                                        <span class="select-arrow"></span>
                                    </div>
                                    <div class="select-items" role="listbox">
                                        <div class="select-search-container">
                                            <input type="text" class="select-search-input" placeholder="Find or create an application..."
                                                aria-label="Search applications">
                                        </div>
                                        <div class="select-items-container">
                                            {{#each ../applications}}
                                            <div class="select-item {{#if subscribed}}disabled{{/if}}" role="option" data-value="{{id}}" data-app-name="{{name}}">
                                                {{name}}
                                                {{#if subscribed}}<img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/success-rounded.svg" alt="Subscribed"
                                                        class="subscription-icon" />{{/if}}
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="create-app-container" style="display: none;">
                                            <div class="create-app-option" role="button">
                                                Create application "<span class="search-term"></span>"
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="subscribe-btn-{{policyID}}" type="button"
                                 class="common-btn-primary"
                                 onclick="showSubscribeButtonLoading(this); subscribe('{{@root.orgID}}', '', '{{../apiMetadata.apiID}}', '{{../apiMetadata.apiReferenceID}}', '{{policyID}}', '{{policyName}}')"
                                 disabled>Subscribe</a>
                        </div>
                        {{else}}
                        <a type="button" class="common-btn-primary disabled w-100 subscription-plan-subscribe-btn"
                            disabled>Subscribe</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</section>
