<section id="subscriptionPlans" class="my-5 mx-5">
    <div class="col-11 row align-items-center">
        <div class="col-12 col-md-10 common-header">
            {{#if subscriptionPlans.length}}
            <h2 class="ms-5 ps-4"> Subscription Plans</h5>
            {{/if}}
                <div class="ms-4 pb-5 pe-5 ps-5 d-flex flex-nowrap overflow-auto">
                    {{#each subscriptionPlans}}
                    <div class="col-lg-4 api-card">
                        <div class="card dev-card">
                            <div class="card-body align-items-center">
                                <h5>{{displayName}}</h5>
                                <h4 class="pt-4 mb-0">{{requestCount}}</h4>
                                <p class="pb-4 pt-0">requests per minutes</p>
                                {{#if ../isAuthenticated}}
                                {{#unless (every ../applications "subscribed")}}
                                <div id="subscriptionBox" class="subscription-container">
                                    <a id="subscribe-btn-{{../apiMetadata.apiID}}" type="button"
                                        class="common-btn-outlined p-1 ps-2 pe-2"
                                        onclick="subscribe('{{@root.orgID}}', '', '{{../apiMetadata.apiID}}', '{{../apiMetadata.apiReferenceID}}', '{{policyID}}', '{{policyName}}')">Subscribe</a>
                                    <select class="form-select bg-white text-dark custom-dropdown"
                                        id="appDropdown-{{../apiMetadata.apiID}}">
                                        {{#each ../applications}}
                                        <option value="{{id}}" {{#if subscribed}} disabled {{/if}}>{{name}} {{#if
                                            subscribed}} ✔ {{/if}} </option>
                                        {{/each}}
                                    </select>
                                </div>                                                     
                                {{else}}
                                    <a type="button" class="common-btn-primary disabled" disabled>Subscribe</a>
                                {{/unless}} 
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
        </div>
    </div>
</section>