<section>
    <div class="card mb-4">
        <div class="card-header">
            Create Views
        </div>
        <div class="card-body">
            <div class="view-item mb-2">
                {{> create-view}}                   
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Update Views
        </div>
        <div class="card-body">
            {{#views}}
            <div class="view-item mb-2">
                {{> views}}
            </div>
            {{/views}}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Upload View Content
        </div>
        <div class="card-body">
            <div class="container ms-3">
                <form id="uploadContent">
                    <div class="d-flex flex-row align-items-start">
                        <div class="mb-3 me-3">
                            <label for="views" class="form-label">View name</label>
                            <select id="views" class="me-3">
                                {{#views}}
                                <option>{{name}}</option>
                                {{/views}}
                            </select>
                        </div>
                        <div class="mb-3 me-3">
                            <input type="file" class="form-control" id="file" name="file" required>
                        </div>
                        <button type="button" class="common-btn-primary"
                            onclick="uploadContent('{{orgID}}')">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Add labels
        </div>
        <div class="card-body">

            <div class="labels-container me-3" id="labelsContainer">
                <div class="input-container" id="inputContainer">
                    <input type="text" id="textInput" placeholder="Type something and press Enter...">
                    {{#each orgLabels}}
                    <span class="span-tag">{{this.name}}<span class="remove">&times;</span>
                    </span>
                    {{/each}}
                </div>
                <button class="common-btn-primary me-3" style="width: 150px;"
                    onclick="addLabels('{{orgID}}', {{json orgLabels}})">Add Labels</button>
            </div>
        </div>
    </div>
</section>