<section>
    <div class="card mb-4">
        <div class=" card-body">
            <form id="editOrg{{orgName}}" class="editOrg">
                <div class="mb-3">
                    <label for="orgName" class="form-label">Name</label>
                    <input type="text" class="form-control orgName" id="orgName" name="orgName" value={{organization.orgName}}>
                </div>
                <div class="mb-3">
                    <label for="business-owner" class="form-label">Business Owner</label>
                    <input type="text" class="form-control businessOwner" id="businessOwner" name="businessOwner"
                        value={{organization.businessOwner}}>
                </div>
                <div class="mb-3">
                    <label for="business-owner-contact" class="form-label">Business Owner Contact</label>
                    <input type="text" class="form-control" id="businessOwnerContact" name="businessOwnerContact"
                        placeholder="Enter Business Owner Contact" pattern="\d{10}"
                        title="Please enter a valid 10-digit contact number" value={{organization.businessOwnerContact}}>
                </div>
                <div class="mb-3">
                    <label for="business-owner-email" class="form-label">Business Owner Email</label>
                    <input type="email" class="form-control" id="businessOwnerEmail" name="businessOwnerEmail"
                        placeholder="Enter Business Owner Email" title="Please enter a valid email address"
                        value={{organization.businessOwnerEmail}}>
                </div>
                <div class="mb-3">
                    <label for="devPortalURLIdentifier" class="form-label">Dev Portal URL Identifier</label>
                    <input type="text" class="form-control" id="devPortalURLIdentifier" name="devPortalURLIdentifier"
                        placeholder="Enter Dev Portal URL Identifier" value={{organization.devPortalURLIdentifier}} required>
                </div>
                <div class="mb-3">
                    <label for="roleClaimName" class="form-label">Role Claim Name</label>
                    <input type="text" class="form-control" id="roleClaimName" name="roleClaimName"
                        placeholder="Enter Role Claim Name" value={{organization.roleClaimName}} required>
                </div>
                <div class="mb-3">
                    <label for="groupsClaimName" class="form-label">Groups Claim Name</label>
                    <input type="text" class="form-control" id="groupsClaimName" name="groupsClaimName"
                        placeholder="Enter Groups Claim Name" value={{organization.groupsClaimName}} required>
                </div>
                <div class="mb-3">
                    <label for="organizationClaimName" class="form-label">Organization Claim Name</label>
                    <input type="text" class="form-control" id="organizationClaimName" name="organizationClaimName"
                        placeholder="Enter Organization Claim Name" value={{organization.organizationClaimName}} required>
                </div>
                <div class="mb-3">
                    <label for="organizationIdentifier" class="form-label">Organization Identifier</label>
                    <input type="text" class="form-control" id="organizationIdentifier" name="organizationIdentifier"
                        placeholder="Enter Organization Identifier" value={{organization.organizationIdentifier}} required>
                </div>
                <div class="mb-3">
                    <label for="adminRole" class="form-label">Admin Role</label>
                    <input type="text" class="form-control" id="adminRole" name="adminRole"
                        placeholder="Enter Admin Role" value={{organization.adminRole}} required>
                </div>
                <div class="mb-3">
                    <label for="subscriberRole" class="form-label">Subscriber Role</label>
                    <input type="text" class="form-control" id="subscriberRole" name="subscriberRole"
                        placeholder="Enter Subscriber Role" value={{organization.subscriberRole}} required>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary"
                        onclick="editOrg('{{orgID}}', 'editOrg{{orgName}}')">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</section>