<head>
  <link rel='stylesheet' href='/technical-styles/applications.css' />
  <script src='/technical-scripts/application-listing.js' defer></script>
  <script src='/technical-scripts/add-application-form.js' defer></script>
</head>

<section class="section mt-0 mb-6">
  <div class="container-fluid applicationspage-container" id="applicationsContainer">
    <div class="container-header mb-4">Applications</div>

    <div class="row row-gap-4">
      <!-- Create Project Button -->
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card create-project-card" style="cursor: pointer;" onclick="loadModal('createAppModal')">
          <div class="create-project-content">
            <span class="plus-icon">+</span>
            <span class="create-text">Create Application</span>
          </div>
        </div>
      </div>

      <!-- Application Cards -->
      {{#applicationsMetadata}}

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card application-card" id="app-card-{{applicationId}}" data-name="{{name}}" style="cursor: pointer;"
          onclick="window.location.href='{{../baseUrl}}/applications/{{id}}'">
          <div class="application-card-header mb-3">
            <div class="overflow-hidden">
              <div>
                <a href="{{../baseUrl}}/applications/{{id}}" class="application-name-link">
                  {{name}}
                </a>
              </div>
              {{!-- <div class="application-status">{{status}}</div> --}}
            </div>
            <div class="application-card-actions">
              <button type="button" class="btn application-btn-icon edit-button" title="Edit"
                onclick="event.stopPropagation(); window.location.href='{{../baseUrl}}/applications/{{id}}/edit'">
                <i class='bi bi-pencil'></i>
              </button>
              <button type="button" class="btn application-btn-icon delete-button" title="Delete"
                onclick="event.stopPropagation(); openDeleteModal('{{id}}', '')">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
          <div class="application-card-body">
            <div class='application-card-meta'>
              <p class="fw-light">
                <i class='bi bi-grid'></i>
                Subscriptions:&nbsp;
                <span class="fw-bold"> {{subscriptionCount}}</span>
            </div>
          </div>
        </div>
      </div>
      {{/applicationsMetadata}}
    </div>
  </div>
</section>