<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->

<section class="apis-section">
  <div class="container-fluid">
    <div class="apilist-hero-container">
      <div class="apilist-hero-content">
        <div class="apilist-hero-header">
          <h1 class="apilist-hero-title">
            Discover, Integrate, and Innovate with
            <span class="apilist-hero-title-highlight">
              Scalable APIs
            </span>
          </h1>
          <div class="apilist-hero-description">
            Explore our extensive API catalog and discover how to integrate them seamlessly into your application.
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 apilist-hero-image">
        <img
          src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/apisHeroImg.png"
          alt="Hero Image" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="container-fluid apilist-container">
    <div class="search-container">
      <div class="search-input">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/search.svg"
          alt="search" class="search-icon" />
        <input type="text" id="query" placeholder="Search APIs" autocomplete="off" />
      </div>
    </div>
    <div class="row row-gap-4">
      {{#apiMetadata}}
      <div class="col-lg-4 col-md-6 col-sm-12" id="apiCard">
        <div class="card api-card d-flex flex-column">
          <div class="api-card-header d-flex align-items-center gap-3 position-relative overflow-hidden">
            <img src="{{apiInfo.apiImageMetadata.api-icon}}" class="api-card-img" alt="..." />
            <div class="flex-grow-1">
              <h5 class="api-card-title mb-0">{{apiInfo.apiName}}</h5>
              <div class="d-flex align-items-center gap-2">
                <p class="mb-0">{{apiInfo.apiVersion}}</p>
                <span class="badge badge-custom2">{{apiInfo.apiType}}</span>
              </div>
            </div>
            {{#if ../isAuthenticated}}
            {{#if (some applications "subscribed")}}
            <div class="subscription-flag fw-bold">Subscribed</div>
            {{/if}}
            {{/if}}
          </div>
          <div class="api-card-body flex-grow-1">
            <div class="truncate-text fw-light apilisting-api-description small mb-3">{{apiInfo.apiDescription}}</div>
            <div class="row">
              <div class="apilisting-tags">
                {{#apiInfo.tags}}
                <span class="badge badge-custom2">{{this}}</span>
                {{/apiInfo.tags}}
              </div>
            </div>
          </div>
          <hr class="mx-3 my-0" />
          <div class="api-card-footer">
            <div id="btnSection" class="d-flex align-items-center gap-2 w-100">
              <div class="flex-shrink-0">
                <a type="button" class="common-btn-outlined" href="{{../baseUrl}}/api/{{apiHandle}}">Overview</a>
              </div>
              <div id="subscriptionBox" class="subscription-container">
                {{> subscription-plans apiInfo=apiInfo apiName=apiInfo.apiName}}
                {{#if ../isAuthenticated}}
                {{#if subscriptionPolicies.length}}
                <a type="button" class="common-btn-primary">Subscribe</a>
                <div class="custom-dropdown">
                  <input type="hidden" id="selectedAppId-{{apiID}}" value="" />
                  <div class="custom-select-container">
                    <div class="select-selected" role="combobox" aria-expanded="false" aria-haspopup="listbox">
                      <span class="selected-text small">Select an app</span>
                      <span class="select-arrow"></span>
                    </div>
                    <div class="select-items" role="listbox">
                      <div class="select-action-item" role="button" data-action="create-app">+ Create Application</div>
                      {{#each applications}}

                      {{#if (eq ../subscriptionPolicies.length 1)}}
                      <div class="select-item {{#if subscribed}}disabled{{/if}}" role="button" data-value="{{id}}"
                        onclick="document.getElementById('selectedAppId-{{../apiID}}').value='{{id}}'; subscribe('{{../../orgID}}', '{{id}}', '{{../apiID}}', '{{../apiReferenceID}}', 
                        '{{lookup (lookup ../subscriptionPolicyDetails 0) 'policyID'}}', 
                        '{{lookup (lookup ../subscriptionPolicyDetails 0) 'policyName'}}' )">
                        <span>{{name}}</span>
                        {{#if subscribed}}<img
                          src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/success-rounded.svg"
                          alt="Subscribed" class="subscription-icon" />{{/if}}
                      </div>
                      {{else}}
                      <div class="select-item {{#if subscribed}}disabled{{/if}}" role="button" data-value="{{id}}"
                        onclick="document.getElementById('selectedAppId-{{../apiID}}').value='{{id}}'; loadModal('planModal-{{../apiID}}')">
                        <span>{{name}}</span>
                        {{#if subscribed}}<img
                          src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/success-rounded.svg"
                          alt="Subscribed" class="subscription-icon" />{{/if}}
                      </div>
                      {{/if}}

                      {{/each}}
                    </div>
                  </div>
                </div>
                {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/apiMetadata}}
    </div>
  </div>
</section>
