<section class="apis-section">
  <div class="container-fluid">
    <div class="apilist-hero-container">
      <div class="apilist-hero-content">
        <div class="apilist-hero-header">
          <h1 class="apilist-hero-title">
            Discover, Integrate, and Scale with
            <span class="apilist-hero-title-highlight">
              Powerful APIs
            </span>
          </h1>
          <div class="apilist-hero-description">
            Explore our extensive API catalog and discover how to integrate them seamlessly into your application.
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 apilist-hero-image">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/b5a67c84347eee5f24cde614317efa78ab5a7395/en/devportal-theming/apisHeroImg.svg" alt="Hero Image" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="container-fluid apilist-container">
    <div class="search-container">
      <div class="search-input">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/search.svg" alt="search" class="search-icon" />
        <input type="text" id="query" placeholder="Search APIs" autocomplete="off" />
      </div>
    </div>
    <div class="row row-gap-4">
      {{#apiMetadata}}
      <div class="col-lg-4 col-md-6 col-sm-12" id="apiCard">
        <div class="card api-card d-flex flex-column">
          <div class="api-card-header d-flex align-items-center gap-3 position-relative overflow-hidden">
            <img src="{{apiInfo.apiImageMetadata.api-icon}}" class="api-card-img" alt="..." />
            <div class="flex-grow-1">
              <h5 class="api-card-title mb-0">{{apiInfo.apiName}}</h5>
              <p>V {{apiInfo.apiVersion}}</p>
              <p>{{apiInfo.apiType}}</p>
            </div>
            {{#if ../isAuthenticated}}
            {{#if (some applications "subscribed")}}
            <div class="subscription-flag fw-light">Subscribed</div>
            {{/if}}
            {{/if}}
          </div>
          <div class="api-card-body flex-grow-1">
            <div class="truncate-text fw-light apilisting-api-description small mb-3">{{apiInfo.apiDescription}}</div>
            <div class="row">
              <div class="apilisting-tags">
                {{#apiInfo.tags}}
                <span class="badge badge-custom2">{{this}}</span>
                {{/apiInfo.tags}}
              </div>
            </div>
          </div>
          <hr class="mx-3 my-0" />
          <div class="api-card-footer">
            <div id="btnSection" class="d-flex align-items-center gap-2 w-100">
              <div class="flex-shrink-0">
                <a type="button" class="common-btn-outlined" href="{{../baseUrl}}/api/{{apiHandle}}">Overview</a>
              </div>
              <div id="subscriptionBox" class="subscription-container">
                {{> subscription-plans apiInfo=apiInfo apiName=apiInfo.apiName}}
                {{#if ../isAuthenticated}}
                {{#if subscriptionPolicies.length}}

                {{#unless (every applications "subscribed")}}
                {{#if (eq subscriptionPolicies.length 1)}}
                <a type="button" class="common-btn-primary"
                  onclick="subscribe('{{../orgID}}', '', '{{apiID}}', '{{apiReferenceID}}', '{{lookup (lookup subscriptionPolicyDetails 0) "policyID"}}', '{{lookup (lookup subscriptionPolicyDetails 0) "policyName"}}')">Subscribe</a>
                {{else}}
                <a type="button" class="common-btn-primary" onclick="loadModal('planModal-{{apiID}}')">Subscribe</a>
                {{/if}}
                {{else}}
                <a type="button" class="common-btn-primary disabled" disabled>Subscribe</a>
                {{/unless}}

                <div class="custom-dropdown" id="customDropdown-{{apiID}}">
                  <div class="custom-select-container">
                    <div class="select-selected" role="combobox" aria-expanded="false" aria-haspopup="listbox">
                      <span class="selected-text small">Select an app</span>
                      <span class="select-arrow"></span>
                    </div>
                    <div class="select-items" role="listbox">
                      <div class="select-action-item" role="button" data-action="create-app">+ Create Application</div>
                      {{#each applications}}
                      <div class="select-item" role="option" data-value="{{id}}">
                        <span>{{name}}</span>
                        {{#if subscribed}}<img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/success-rounded.svg" alt="Subscribed"
                          class="subscription-icon" />{{/if}}
                      </div>
                      {{/each}}
                    </div>
                    <select class="d-none" id="appDropdown-{{apiID}}">
                      {{#each applications}}
                      <option value="{{id}}" {{#if subscribed}} disabled {{/if}}>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                {{/if}}


                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/apiMetadata}}
    </div>
  </div>
</section>