<section>
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">Organizations</h3>
        </div>
        {{#organizations}}
        <div class="organization mb-3">
            <div class="organization-header" style="padding: 10px;">
                <div class="mb-3 organization-name">{{orgName}}</div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-sm btn-outline-primary me-2 edit-btn" id="idpEdit">
                        <i class="bi bi-pencil"></i> Edit
                    </button>
                    <form class="delete-org">
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            Delete
                        </button>
                        <input type="hidden" id="orgId" class="orgId" name="orgId" value={{orgID}}>
                    </form>
                </div>
            </div>
            <div class="organization-details card-body">
                <form id="editOrg" class="editOrg">
                    <div class="mb-3">
                        <label for="orgName" class="form-label">Name</label>
                        <input type="text" class="form-control orgName" id="orgName" name="orgName" value={{orgName}}>
                    </div>
                    <div class="mb-3">
                        <label for="business-owner" class="form-label">Business Owner</label>
                        <input type="text" class="form-control businessOwner" id="businessOwner" name="businessOwner"
                            value={{businessOwner}}>
                    </div>
                    <div class="mb-3">
                        <label for="business-owner-contact" class="form-label">Business Owner Contact</label>
                        <input type="text" class="form-control" id="businessOwnerContact" name="businessOwnerContact"
                            placeholder="Enter Business Owner Contact" pattern="\d{10}"
                            title="Please enter a valid 10-digit contact number">
                    </div>
                    <div class="mb-3">
                        <label for="business-owner-email" class="form-label">Business Owner Email</label>
                        <input type="email" class="form-control" id="businessOwnerEmail" name="businessOwnerEmail"
                            placeholder="Enter Business Owner Email" title="Please enter a valid email address">
                    </div>
                    <input type="hidden" id="orgId" name="orgId" value={{orgID}}>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        {{/organizations}}
    </div>
</section>