<div class="container">
    <h2>Sign in to continue</h2>
    <a class="btn" href="{{baseUrl}}/login?fidp=google">
        <img src="" alt="Google" width="20">
        Continue with Google
    </a>
    <a class="btn" href="{{baseUrl}}/login?fidp=github">
        <img src="" alt="GitHub" width="20">
        Continue with GitHub
    </a>
    <a class="btn" href="{{baseUrl}}/login?fidp=microsoft">
        <img src="" alt="Microsoft" width="20">
        Continue with Microsoft
    </a>
    <a class="btn" href="{{baseUrl}}/login?fidp=enterprise">
        <img src="" alt="Enterprise" width="20">
        Sign in with Enterprise ID
    </a>

    <div class="or-divider">OR</div>

    <a class="btn" href="{{baseUrl}}/login?fidp=email">
        <img src="" alt="Email" width="20">
        Sign in with Email
    </a>

    {{!-- <div class="signup">
        Don’t have an account? <a>Sign Up</a>
    </div> --}}
</div>