<div class="modal custom-modal api-key-name-modal" id="apiKeyNameModal-{{subID}}-{{keyType}}">
    <div class="modal-dialog modal-dialog-centered api-key-name-modal-dialog" role="document">
        <div class="modal-content custom-modal-content">
            <div class="custom-modal-header">
                <h2 class="custom-modal-title m-0">Generate API Key</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal('apiKeyNameModal-{{subID}}-{{keyType}}')"></button>
            </div>
            <div class="custom-modal-body">
                <div class="container">
                    <div class="row">
                        <div>
                            <div class="mb-3">
                                <label for="apiKeyName-{{subID}}-{{keyType}}" class="form-label">API Key name</label>
                                <input type="text"
                                       id="apiKeyName-{{subID}}-{{keyType}}"
                                       class="form-control"
                                       placeholder="Enter API key name" />
                            </div>
                            <div class="d-flex justify-content-end mt-4 mb-3">
                                <button class="common-btn-outlined pr-3 me-3" type="button"
                                    onClick="closeModal('apiKeyNameModal-{{subID}}-{{keyType}}')">
                                    Cancel
                                </button>
                                <button class="common-btn-primary pr-3 me-1" id="confirmAPIKeyNameBtn-{{subID}}-{{keyType}}">
                                    <span class="button-normal-state">
                                        Next
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


