<section class="section mt-5 mb-6">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="container-header">Subscribed APIs</div>
            <div class='action-buttons mt-0'>
                <a class="common-btn-primary" type="button" href="{{baseUrl}}/apis?appID={{applicationMetadata.id}}&appName={{applicationMetadata.name}}">
                    <i class="fas fa-external-link-alt me-2"></i> Subscribe to more APIs
                </a>
            </div>
        </div>
        <div class="row row-gap-4">
            {{#if subAPIs}}
            <div class="app-table-container">
                <table class="app-table">
                    <thead>
                        <tr>
                            <th class="app-th">API</th>
                            <th class="app-th">Version</th>
                            <th class="app-th">Subscription Plan</th>
                            {{!-- {{#if apiKey}}
                            <th class="app-th">API Key</th>
                            {{/if}} --}}
                            <th class="app-th action-column" style="padding-right: 2.25rem; text-align: right;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each subAPIs}}
                        <tr class="data-row">
                            <td class="app-td">
                                <span onclick="window.location.href='{{@root.baseUrl}}/api/{{apiHandle}}'"
                                    class="text-truncate d-block" style="cursor: pointer;">{{name}}</span>
                            </td>
                            <td class="app-td">{{version}}</td>
                            <td class="app-td">{{policyName}}</td>
                            {{!-- {{#if (contains security 'api_key')}}
                            <td class="app-td">
                                <div class="api-key-actions">
                                    <button class="common-btn-outlined btn-sm me-1" onclick="
                                        document.getElementById('revokeKeyBtn-{{subID}}').style.display='inline-flex';
                                    ">
                                        <i class="bi bi-key me-1"></i> Generate
                                    </button>
                                    <button class="common-btn-outlined btn-sm api-key-revoke" id="revokeKeyBtn-{{subID}}" style="display: none;">
                                        <i class="bi bi-x-circle me-1"></i> Revoke
                                    </button>
                                </div>
                            </td>
                            {{/if}} --}}
                            <td class="app-td action-column">
                                <div class="action-buttons-container">
                                    {{> delete-confirmation modalTitle="Do you really want to remove the subscription?"
                                    modalMessage="This will remove the subscription entry stored in the devportal."
                                    modalFunction="removeSubscription()" }}
                                    {{!-- <button type="button" class="btn application-btn-icon" onclick="#">
                                        <i class="bi bi-pencil"></i>
                                    </button> --}}
                                    <button type="button" class="btn application-btn-icon delete-button" 
                                        onclick="openDeleteModal('{{../orgID}}', '{{../applicationMetadata.id}}', '{{refID}}', '{{subID}}')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <div class="ps-3">
                <div class="info-box">
                    <div class="info-content">
                        <div class="info-title">
                            No subscriptions available for this application. Please subscribe to an API.
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
</section>