<div class="modal custom-modal" id='keysInstructionsModal'>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content custom-modal-content">
            <div class="custom-modal-header">
                <h2 class="custom-modal-title m-0">Instructions</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal('keysInstructionsModal')"></button>
            </div>
            <div class="custom-modal-body">
                <div class="container">
                    {{#each keyManagersMetadata}}
                    {{#if enabled}}
                    {{#let "keys" (conditionalIf ../isProduction productionKeys sandboxKeys)}}
                    <div id="tokenGenerationButtons_{{../name}}" class="d-flex mb-4">
                        <div class="row">
                            <div id="curlDisplay_{{../name}}">
                                <div>cURL to Generate Access Token</div>
                                <p class="curl-description">
                                    The following cURL command template allows you to generate an access token using the
                                    client credentials grant type. Click the copy button to copy the command with your
                                    actual credentials inserted.
                                </p>
                                <div class="code-block">
                                    <button class="copy-button" id="curl-copy-{{../name}}"
                                        data-endpoint="{{../tokenEndpoint}}" data-consumer-key="{{keys.consumerKey}}"
                                        data-consumer-secret="{{keys.consumerSecret}}"
                                        aria-label="Copy to clipboard with real values" onclick="copyRealCurl(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1">
                                            </path>
                                        </svg>
                                    </button>
                                    <code
                                        id="curl_{{../name}}">curl -k -X POST &lt;TOKEN_ENDPOINT_URL&gt; -d "grant_type=client_credentials" -H "Authorization: Basic &lt;CONSUMER_KEY&gt;:&lt;CONSUMER_SECRET&gt;"</code>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/let}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>