<div class="modal custom-modal" id='keysViewModal'>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content custom-modal-content">
            <div class="custom-modal-header">
                <h2 class="custom-modal-title m-0">View Credentials</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal('keysViewModal')"></button>
            </div>
            <div class="custom-modal-body">
                <div style="margin-bottom: 20px;">
                    <div class="keygen-section-header" style="display: none;">
                        <h1>Identity Provider</h1>
                        <p class="keygen-subtitle">Select an Identity Provider to configure</p>
                    </div>
                    {{!-- <div class="idp-dropdown">
                        <select id="select-idp-list" name="selectIdpList">
                            {{#each keyManagersMetadata}}
                            {{#if enabled}}
                            <option value="{{name}}" id="{{name}}">{{name}}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                    </div> --}}
                </div>
                <div class="container">
                    {{#each keyManagersMetadata}}
                    {{#if enabled}}
                    {{#let "keys" (conditionalIf ../isProduction productionKeys sandboxKeys)}}
                     <form
                            id='keysview-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'>
                    <div id="consumerKeys_{{../name}}" style="{{#unless keys.consumerKey}}display: none;{{/unless}}">
                        <h3 class='h6'> Key and Secret </h3>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label
                                    for='consumer-key-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-label'>
                                    Consumer Key
                                </label>
                                <input type='text'
                                    id='consumer-key-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-control' name="consumerKey" value='{{keys.consumerKey}}' readonly disabled />
                                <input type='hidden'
                                    id='app-ref-{{../id}}'
                                    class='form-control' name="appRefId" value='{{keys.appRefId}}' />
                                <input type='hidden'
                                    id='key-map-{{../id}}'
                                    class='form-control' name="keyMappingId" value='{{keys.keyMappingId}}' />
                            </div>
                            <div class="col-md-6">
                                <label
                                    for='consumer-secret-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-label'>
                                    Consumer Secret
                                </label>
                                <div class="password-toggle-container">
                                    <input type='password'
                                        id='consumer-secret-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                        class='form-control' name="consumerSecret" value='{{keys.consumerSecret}}'
                                        readonly disabled />
                                    <button type="button" class="password-toggle-btn" 
                                        onclick="togglePasswordVisibility('consumer-secret-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}')">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                    <button type="button" class="password-copy-btn" 
                                        onclick="copyConsumerSecret('consumer-secret-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}')">
                                        <i class="bi bi-clipboard"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="KMURl_{{../name}}" class="mt-4" >
                        <div id="header">
                            <h3 class="h6">Identity Provider Connection Data</h3>
                        </div>
                        <div id="km-details">
                            {{!-- Token Endpoint --}}
                            <div class='mb-3'>
                                <label
                                    for='token-endpoint-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-label'>
                                    Token Endpoint
                                </label>
                                <input type='url' name="tokenURL"
                                    id='token-endpoint-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-control' value='{{../tokenEndpoint}}' readonly disabled />
                            </div>
                            {{!-- Revoke Endpoint --}}
                            <div class='mb-3'>
                                <label
                                    for='revoke-endpoint-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-label'>
                                    Revoke Endpoint
                                </label>
                                <input type='url' name="revokeURL"
                                    id='revoke-endpoint-{{../id}}-{{#if ../../isProduction}}production{{else}}sandbox{{/if}}'
                                    class='form-control' value='{{../revokeEndpoint}}' readonly disabled />
                            </div>
                        </div>
                    </div>
                    </form>
                   

                    {{/let}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>