<div class="modal custom-modal" id='keysTokenModal'>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content custom-modal-content">
            <div class="custom-modal-header">
                <h2 class="custom-modal-title m-0">Access Token</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal('keysTokenModal')"></button>
            </div>
            <div class="custom-modal-body">
                <div class="container">
                    {{#each keyManagersMetadata}}
                    {{#if enabled}}
                    {{#let "keys" (conditionalIf ../isProduction productionKeys sandboxKeys)}}
                    <div id="tokenGenerationButtons_{{../name}}" class="d-flex mb-4">
                        <div class="row">
                            <div id="tokenDisplay_{{../name}}" style="display: none;">
                                <div class="info-box">
                                    <div class="info-content">
                                        <div class="info-title">Copy the access token</div>
                                        <p class="info-text">
                                            Please copy this generated access token as it will not be visible in the UI
                                            again.
                                        </p>
                                    </div>
                                    <div class="info-icon">
                                        <i class="bi bi-info-circle"></i>
                                    </div>
                                </div>

                                <div class="token-card">
                                    <pre id="token_{{../name}}" class="token-text"></pre>
                                    <button id="copyButton_{{../name}}" class="copy-button" aria-label="Copy token"
                                        type="button" onclick="copyToken('{{../name}}')">
                                        <i class="bi bi-copy"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/let}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>