<head>
  <link rel='stylesheet' href='/technical-styles/overview.css' />
</head>

<section class="section mt-0 mb-6">
  {{#applicationMetadata}}
  <div class="container-fluid">
    <div class="card dev-card app-overview-card">
      <div class="d-flex align-items-start justify-content-between">
        <h4 class="app-overview-title">{{name}}</h4>
        <div class='action-buttons'>
          <button class='btn btn-outline-secondary' title='Edit'
            onclick="window.location.href='{{../baseUrl}}/applications/{{id}}/edit'">
            <i class='bi bi-pencil'></i>
          </button>
        </div>
      </div>
      <div class="col-lg-6 app-overview-body">
        <p class="app-description">{{description}}</p>
        <p class="app-subscription-count mt-3">Subscriptions: {{subscriptionCount}}</p>

      </div>
    </div>
  </div>
  {{/applicationMetadata}}
</section>