<head>
  <link rel='stylesheet' href='/technical-styles/overview.css' />
</head>

<section class="section mt-0 mb-6">
  {{#applicationMetadata}}
  <div class="container-fluid">
    <div class="app-overview-card d-flex justify-content-between align-items-start">
      <div class="me-5 w-75">
        <h4 class="app-overview-title">{{name}}</h4>
        <p class="app-description mt-3">{{description}}</p>
        <p class="app-subscription-count mt-3">Subscriptions: {{subscriptionCount}}</p>
      </div>
      <div>
        <button class='btn btn-outline-secondary edit-button' title='Edit'
          onclick="window.location.href='{{../baseUrl}}/applications/{{id}}/edit'">
          <i class='bi bi-pencil'></i>
        </button>
      </div>
    </div>
  </div>
  {{/applicationMetadata}}
</section>