<head>
  <link rel='stylesheet' href='/technical-styles/overview.css' />
</head>

<section>
  {{#applicationMetadata}}
  <div class="app-header mb-4 pt-4">
    <h1 class='app-title'>{{name}}</h1>
    <div class="d-flex justify-content-between align-items-center">
      <p>Subscriptions: {{subscriptionCount}}</p>
      <div class='action-buttons'>
        <button class='btn btn-sm' title='Edit'
          onclick="window.location.href='{{../baseUrl}}/applications/{{applicationId}}/edit'">
          <i class='bi bi-pencil-square'></i>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header">
    <div class='app-details'>
        <p> <span>Description</span> {{description}} </p>
    </div>
  </div>
  <div class="app-header">
    <div class='app-details app-plan'>
      <p><span>Business Plan</span> {{throttlingPolicy}}</p>
    </div>
  </div>
  <div class="app-header">
    <div class='app-details'>
      <p><span>Workflow Status</span> {{status}}</p>
    </div>
  </div>
  <div class="app-header">
    <div class='app-details'>
      <p><span>Application Owner:</span> {{owner}}</p>
    </div>
  </div>


  {{/applicationMetadata}}
</section>