{{!-- {{#if isSubAvailable}} --}}
<div class="row">
    {{#each apis}}
    <div class="dev-card sub-api-card">
        <div class="card-header">
            <h2 id="apiName" data-id="{{this.id}}"> <a href="{{../baseUrl}}/api/{{this.name}}">{{this.name}}</a></h2>
        </div>
        {{subscribedPolicy.length}}
        {{#if subscribedPolicy}}
        <h6 class="dev-header h6">Subscribed Policy:
            <ul class="policy-label">
                <li>{{subscribedPolicy.policy}}</li>
        </h6>
        <button class="btn apilistbtn-primary"
            onclick="unsubscribe('{{subscribedPolicy.id}}')">Unsubscribe</button>

        {{else}}
        <select id="subscriptionPlan" class="form-control items-label sub-api-card-item">
            {{#each subscriptionPolicies}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button class="btn apilistbtn-primary" onclick="handleSubscribe(null,'{{this.id}}')">Subscribe</button>
        {{/if}}
    </div>
    {{/each}}
</div>
{{!-- {{/if}} --}}